.resume__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 2rem;
}

@media (max-width: 768px) {
    .resume__cards {
        grid-template-columns: 1fr;
    }
}