.intro {
    max-width: 1280px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 6.5rem 2rem 2rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../../assets/code.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro_container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.intro__text {
    padding: 2rem 0.5rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
}

.heroimg {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img {
    width: 23rem;
    border-radius: 1rem;
}

.intro_socials {
    width: fit-content;
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    background-color: black;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem 0; 
}

.intro_socials a {
    color: #fcfcfc
}

@media (max-width: 768px) {
    .intro {
        gap: 1rem;
    }
    .intro_container{
        flex-wrap: wrap;
        gap: 0.5rem
    }
    .img {
        width: 18rem;
    }
}